.crew {
    height: 100vh;
    max-height: 105vh;
    position: absolute;
    top:0;
    z-index: -1;
    background: url('./desktopBg.jpg');
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
    
}

.crew_title {
    font-family: var(--smallText-font);
    font-size: var(--heading-five-fs);
    letter-spacing: var(--letter-spacing-header);
    color: var(--text-color);
    padding: 5.8em 3.5em;
}

.crew_title span {
    opacity: 0.25;
}

.carousel_crew {
    height: 482px;
    max-height: 482px;
    margin-top:-12em;   
}

.crew_members {
    display: grid;
    grid-template-areas: "crew_info crew_image_c";
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    position: relative;
    margin-top: 3em;
    height: 482px;
}

.crew_info {
    grid-area: crew_info;
    padding-left: 6em;
    padding-top: 4em;
}

.crew_info h5 {
    opacity: 0.5;
    font-family: var(--heading-font);
    font-size: var(--heading-five-fs);
    text-transform: uppercase;
    color: var(--text-color);
}

.crew_info h3 {
    font-family: var(--heading-font);
    color: var(--text-color);
    font-size: 46px;
    text-transform: uppercase;
}

.crew_info p {
    padding:2em 0;
    width: 80%;
    color:var(--secondary-color) ;
}

.crew_image_container {
    grid-area: crew_image_c;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.doughlas {
    width: 55%;
}

.mark_ {
    width: 50%;
}

.victor {
    width: 60%;
}

.anousheh {
    width: 60%;
}

@media (min-width: 992px) and (max-width:1200px) {
    .crew_info p {
        width: 100%;
        padding:1em 0;
    }

    .crew_info {
        grid-area: crew_info;
        padding-top: 4em;
        padding-left: 3em;
    }

    .doughlas {
        width: 70%;
    }
    
    .mark_ {
        width: 60%;
    }
    
    .victor {
        width: 70%;
    }
    
    .anousheh {
        width: 70%;
    }

    .crew_image {
        grid-area: crew_image;
        justify-content: start;
        align-content: flex-end;
        padding: 0;
        margin:0;
    }
}

@media (min-width:800px) and (max-width:992px) {
    .crew_title {
        padding-left: 1em;
    }
    

    .crew_info {
        padding-left: 2em;
        padding-top: 2.5em;
    }

    .crew_info h5 {
        font-size: 25px;
    }

    .crew_info h3 {
        font-size: 38px;
    }

    .crew_info p {
        width: 100%;
    }

    .doughlas {
        width: 80%;
    }
    
    .mark_ {
        width: 70%;
    }
    
    .victor {
        width: 80%;
    }
    
    .anousheh {
        width: 80%;
    }

}

@media only screen and (max-width:800px) {
    .crew {
        height: auto;
        max-height: 125vh;
        position: absolute;
        top:0;
        z-index: -1;
        background: url('./TabletBg.jpg');
        background-position-y: center;
        background-size: cover;
        
    }

    .crew_title {
        padding: 3.5em 0;
    }

    .carousel_crew {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -8em;
        height: auto;
        max-height: max-content; 
    }

    .crew_members {
        display: grid;
        grid-template-areas: "crew_info crew_info"
                             "crew_image_c crew_image_c";
        justify-content: center;
        position: relative;
        text-align: center;
        height: auto;
    }

    .crew_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-top: 2em;
        padding-bottom: 2em;
        
    }

    .crew_info h5 {
        font-size: 22px;
    }

    .crew_info h3 {
        font-size: 38px;
    }

    .crew_info p {
        padding: 1em 0 0 0;
        width: 85%;
        text-align: center;
    }

    .crew_image_container {
        margin-top: 2em;
    }

    .doughlas {
        width: 50%;
    }
    
    .mark_ {
        width: 40%;
    }
    
    .victor {
        width: 50%;
    }
    
    .anousheh {
        width: 55%;
    }
}

@media only screen and (max-width:576px) {

    .crew {
        height: 110vh;
    }
    .crew_title {
        text-align: center;
        padding-top:2em;
    }

    .crew_members {
        display: grid;
        grid-template-areas: "crew_image_c crew_image_c"
                             "crew_info crew_info";
        justify-content: center;
        position: relative;
        text-align: center;
        height: auto;
    }

    .crew_info {
        padding-top: 5em;
    }

    .crew_info h5 {
        font-size: 19px;
    }

    .crew_info h3 {
        font-size: 30px;
    }

    .crew_info p {
        font-size: 14px;
        width: 95%;
    }

    .crew_image_container {
        grid-area: crew_image_c;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        justify-content: center;
        align-items: center;
        padding:0 3em;
        padding-bottom: -1em;
        margin-bottom: 1em;
    }

    .doughlas {
        width: 52%;
    }

    .mark_ {
        width: 48%;
    }

    .victor {
        width: 60%;
    }

    .anousheh {
        padding-top: 3em;
        width: 55%;
    }
}
